# Salin file ini menjadi ".env" lalu isi nilainya sebelum menjalankan aplikasi

# Kunci rahasia untuk menandatangani token login (WAJIB diganti dengan string acak yang panjang)
JWT_SECRET=AdzHhQweryt12##-651vcjkeas

# Port server (opsional, default 3000)
PORT=3000

# Nama file database SQLite (opsional)
DB_FILE=loveconnect.db
